@model IEnumerable<SoccerStats.Models.T_Competition>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.libelleCompetition)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.libelleCompetition)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idCompetition }) |
            @Html.ActionLink("Details", "Details", new { id=item.idCompetition }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idCompetition })
        </td>
    </tr>
}

</table>
